@include media-breakpoint-up(lg) {
  .navbar {
    &--primary {
      @include fw;
      padding: 0px;

      .navbar-brand {
        padding: 0px;

        .brand-logo {
          @include rem-size(width, 72px);
        }
      }

      .offcanvas{
        .navbar-nav{
          width: 100%;
        }
      }



      .navbar-nav {

        .nav-item {
          flex: 1 auto;
          .nav-link {
            @include font-size(13px);
            font-weight: bold;
            @include rem-4Sider(padding, 13px, 10px, 11px, 10px);


            &.active {
              background-color: map_get($colors, baseWhite);
              color: map_get($colors, primary);
            }
          }

          &--home {
            .nav-link {
              @include font-size(16px);
              @include rem-4Sider(padding, 10px, 12px, 5px, 12px);
            }
          }
        }
      }
    }
  }


  .bl-news {

    &--mainPost {


      .bl-newsPost {

        &--thumbnail {
          width: 50%;
          display: flex;
          flex-flow: row nowrap;

          .post_img {
            @include aspect-ratio(3, 2);
            width: 35%;
            flex-shrink: 0;

            a {
              @include aspect-ratio(3, 2);
              height: auto;
              position: absolute;

              img {
                position: absolute;
              }
            }
          }

          .post_content {
            padding: 0px;
            @include rem-size(padding-left, 16px);

            .post_title {
              @include font-size(18px);

              a {
                @include font-size(18px);
              }
            }

            p {

            }

            .post_source {

            }
          }
        }
      }
    }

    &--blSpecial {
      grid-template-columns: repeat(6, 1fr);

      .bl-newsPost--thumbnail {

        .post_img {
          @include aspect-ratio(3, 2);

          a {


            img {

            }
          }
        }

        .post_content {

          .post_title {


            a {

            }
          }


          .post_source {

          }
        }
      }
    }

    &--smallThumbs {


      .bl-newsPost--small {


        .post_img {

        }
      }
    }

    &--verticalThumbs {


      .bl-newsPost--thumbnail {
        .post_content {


          .post_title {
            @include font-size(16px);


            a {
              @include font-size(16px);

            }
          }
        }

        &:not(:first-child) {

        }
      }

    }

    &--generalNews {

      grid-template-columns: repeat(2, 1fr);


      .bl-newsPost {
        &--highlightNews {
          grid-column: 1 / span 2;
          flex-flow: column-reverse;

          .post_img {
            width: 100%;

            a {
              @include aspect-ratio(16, 9);

              img {

              }
            }
          }

          .post_content {


            .post_title {
              @include font-size(22px);

              a {
                @include font-size(22px);
              }
            }


          }
        }

        &--thumbnail {
          display: flex;
          flex-flow: column nowrap;

          .post_img {
            width: 100%;

            flex-shrink: 0;

            a {

            }


          }

          .post_content {
            padding: 0px;
            @include rem-size(padding-top, 8px);
          }
        }


      }
    }

    &--twoColumner {

      grid-template-columns: repeat(2, 1fr);


      .bl-newsPost {
        &--highlightNews {
          grid-column: 1 / span 2;


          .post_img {


            a {
              @include aspect-ratio(16, 9);

              img {

              }
            }
          }

          .post_content {


            .post_title {
              @include font-size(22px);

              a {
                @include font-size(22px);

              }
            }

            p {

            }

            .post_source {

            }
          }
        }

        &--columnTopNews {
          grid-column: 1 / span 2;

          .post_img {


            a {
              @include aspect-ratio(16, 9);

              img {

              }
            }
          }

          .post_content {


            .post_title {
              @include font-size(20px);

              a {

                @include font-size(20px);
              }
            }

            p {

            }

            .post_source {

            }
          }
        }

        &--thumbnail {
          flex-flow: column nowrap;


          .post_img {
            width: 100%;
            @include aspect-ratio(16, 9);
            flex-shrink: 0;

            a {


              img {
                width: 100%;
                height: auto;
              }
            }
          }

          .post_content {
            @include rem-size(padding-top, 8px);
            padding-left: 0px;

            .post_title {
              @include font-size(18px);

              a {
                @include font-size(18px);
              }
            }

            p {

            }

            .post_source {

            }
          }
        }
      }
    }

    &--videoNews {
      grid-template-columns: repeat(4, 1fr);


      .bl-newsPost {
        &--topVideo {
          grid-row: 1 / span 2;
          grid-column: 1 / span 2;


          .post_img {


            &::before {

            }

            a {
              @include aspect-ratio(4, 3);


              img {

              }
            }
          }

          .post_content {
            position: relative;
            bottom: unset;
            padding: 0px;
            @include rem-size(padding-top, 16px);

            .post_title {
              color: map_get($colors, typoheader);
              @include font-size(22px);

              a {
                color: map_get($colors, typoheader);
                @include font-size(22px);

                &:hover,
                &:focus {
                  color: map_get($colors, primary);
                }
              }
            }

            p {

            }

            .post_source {

            }
          }
        }


        &--videoThumbnail {


          .post_img {


            a {
              @include aspect-ratio(3, 2);


              img {

              }
            }
          }

          .post_content {


            .post_title {
              @include font-size(18px);

              a {
                @include font-size(18px);
              }
            }

            p {

            }

            .post_source {

            }
          }
        }
      }
    }

    &--trending {


      .post-widgetHeader {


        @each $header in (h1, h2, h3, h4, h5, h6) {
          #{$header} {

          }
        }
      }

      .post-widgetBody {


        .trendingNews {


          .trendingNews-item {


            &:not(:last-child) {

            }

            &::before {

            }

            .post_title {


              a {


                &:hover,
                &:focus {

                }
              }
            }


            .post_source {

            }


          }
        }
      }
    }

    &Post {
      &--details {


        .bl-post {
          &--header {

          }

          &--meta {


            .post-meta-item {


              &.cat-labels {


                .meta-category {

                }
              }

              &.post-title {


                @each $header in (h1, h2, h3, h4, h5, h6) {
                  #{$header} {

                  }
                }
              }

              &.meta-reporter {


                .meta-author-info {


                  .has-author-img {


                    img {

                    }
                  }

                  .post-by {


                    a {


                    }
                  }
                }

                .post-date {


                }
              }
            }
          }

          &--banner {


            .primaryImage {


              img {

              }

              &-caption {

              }
            }
          }
        }

        &-story {


          p {

          }

          blockquote {


            &::before {

            }
          }

          .storyImage-wrapper {


            .storyImage {


              a img,
              img {

              }
            }

            .imageCaption {

            }
          }

          .newsDetails--content {

          }
        }
      }

      &--reviews {


        .reviews-header {


          @each $header in (h1, h2, h3, h4, h5, h6) {
            #{$header} {

            }
          }

          .count-badge {

          }
        }

        .reviews-body {


          .reviewer-login {


            .form-text {


              a {

              }
            }

            .social-login {


              @each $header in (h1, h2, h3, h4, h5, h6) {
                #{$header} {

                  &::after {

                  }
                }
              }

            }
          }

          .review-terms {


            @each $header in (h1, h2, h3, h4, h5, h6) {
              #{$header} {


                &::after {

                }
              }
            }

            .terms-list {


              .list-item {

                &::before {

                }
              }
            }
          }

          .review-lists {


            .review-items {


              &:not(:last-child) {

              }

              .reviewer-avatar {


                img {

                }
              }

              .review-content {


                .reviewer-name {

                }

                .review-date-times {

                  span {
                    &:not(:first-child) {

                    }
                  }
                }

                .review-text {

                }
              }
            }
          }

          .reviews-meta {

            .meta-item {


              &:not(:first-child) {

              }

              .report {

              }
            }
          }
        }

      }
    }

    &--autoFloating {

      &-wrapper {

      }

      .news-item {

        width: calc(100% / 3);

        .news-image-holder {
          @include responsive-ratio(16, 9);


          .news-image {


            a {


              img {

              }
            }
          }
        }

        .news-content {


          @each $header in (h1, h2, h3, h4, h5, h6) {
            #{$header} {

            }
          }

          .post_title {


            a {


              &:hover,
              &:focus {

              }
            }
          }

          p {

          }

          .time-stamp,
          .post_source {

          }

          .short-news {

          }
        }

        &.highlight {

          width: 100%;

          .news-image-holder {
            .news-image {
              &::after {

              }
            }
          }

          .news-content {


            .post_title {

              a {

              }
            }

            .short-news {

            }
          }
        }

        &.spot-highlight {
          width: calc(100% / 3);

          .news-image-holder {
            @include responsive-ratio(16, 9);


            .news-image {


              a {


                img {

                }
              }
            }
          }
        }
      }
    }

    &--condensed {


      .bl-news-condensed-item {
        width: calc(100% / 3);


        .post_img {


          a {
            @include aspect-ratio(16, 9);
          }

        }

        .post_content {


          .post_title {


            a {

            }
          }

          p {

          }

          .post_source {

          }
        }

        &--highlight {
          width: 100%;


          .bl-newsPost {

          }

          .post_img {
            width: 100%;


            a {
              @include aspect-ratio(89, 45);
            }
          }

          .post_content {


            .post_title {


              a {

              }
            }

            p {

            }

            .post_source {

            }
          }
        }

      }
    }

  }


  .news-row {

  }

  .aside-news-rows {


    &:not(:first-child) {

    }
  }

  .bl-newsHeader {


    .header-title {


      &::before {

      }

      &::after {

      }
    }

    &.header-center {

      .header-title {


        &::before {

        }

        &::after {

        }
      }
    }
  }

  .bl-newsPost {


    .post_img {


      a img,
      img {

      }
    }

    .post_content {


      .post_title {


        a {


          &:hover,
          &:focus {

          }
        }
      }

      p {

      }

      .post_source {

      }
    }


    &--small {


      .post_img {


        a {


          img {

          }
        }
      }

      .post_content {


        .post_title {
          @include font-size(16px);

          a {
            @include font-size(16px);
          }
        }

        p {

        }

        .post_source {

        }
      }
    }

    &--topStory {
      width: 50%;

      .post_img {
        @include aspect-ratio(3, 2);

        a {


          img {

          }
        }
      }

      .post_content {


        .post_title {
          @include font-size(22px);

          a {
            @include font-size(22px);
          }
        }

        p {

        }

        .post_source {

        }
      }

    }

    &--thumbnail {

      .post_img {
        @include aspect-ratio(3, 2);

        a {


          img {

          }
        }
      }

      .post_content {


        .post_title {
          @include font-size(18px);

          a {
            @include font-size(18px);
          }
        }

        p {

        }

        .post_source {

        }
      }
    }
  }

  .blSpecial-container {


    .bl-newsHeader {
      .header-title {

      }
    }
  }

  .news-reporter-info {


    .reporter-avatar {


      img {

      }
    }

    .reporter-info {


      .reporter-title {

      }

      .news-timestamp {

      }
    }
  }

  .aside-right-seperator {


    &::before {

    }
  }

  .exclusive_highlight {


    .news-banner {
      //min-height: 450px;
      //max-height: 550px;

      width: 100%;
      @include aspect-ratio(21, 9);

      a {


        img {

        }

        &::before {

        }
      }
    }

    .post-content {


      .post_title {


        a {


          &:hover,
          &:focus {

          }
        }
      }

      span {
        &:not(:first-child) {

        }
      }

      .time-stamp {

      }

      .post_source {

      }
    }
  }
}