html {
    scroll-behavior: smooth;
}

.container-fluid {
    max-width: 1366px;
}

.site-color {
    color: #FF5E14;
}

.bg-site-color {
    background-color: #FF5E14;
}

.pagination .active-btn span {
    background-color: #FF5E14 !important;
    color: white !important;
    border-color: #FF5E14 !important;
}

.pagination .page-link {
    color: black;
    margin: 5px;
}

#scrollTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FF5E14; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
}

#scrollTop:hover {
    background-color: black; /* Add a dark-grey background on hover */
    color: #FF5E14;
}

.front_body_position_3, .front_body_position_5, .front_body_position_7 {
    margin-bottom: 15px;
}

.video-details .details-header .post-info span {
    float: left;
}

.video-details .details-header .post-info span img {
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 8px;
}

.video-details .details-header .post-info p {
    margin-bottom: 0;
    font-size: 12px;
}

.video-details .details-header .post-info a {
    color: #FF5E14;
    margin-bottom: 0;
    font-size: 12px;
}

.video-details .details-header .post-info .post-info-details {
    padding: 0;
    margin-top: -4px;
}

.video-details .details-header .post-info .post-info-details li {
    padding: 0em 0em;
    display: inline;
    font-size: 12px;
}

.video-details .details-header .post-info .post-info-details li a {
    color: gray;
}

.video-details .details-header .post-info .post-info-share li {
    padding: 0em 0.25em;
    display: inline;
    color: gray;
}

.video-details .details-header .post-info .post-info-share span {
    margin-right: 10px;
    margin-top: 16px;
    color: gray;
}

.video-details .details-header .post-info .post-info-share span strong {
    margin-right: 10px;
    margin-top: 16px;
    color: gray;
}

.video-details .details-header .post-info .post-info-share .social-media a i {
    background: #f7976b;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 2;
    text-align: center;
}

.video-details .details-header .post-info .post-info-share .social-media:hover a i {
    border-radius: 50%;
}

.video-details .details-header .news-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.thumbnail {
    position: relative;
}

.thumbnail i {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 9999;
}

.thumbnail i:hover {
    color: #FF5E14;
}

.fixed-height-img figure img {
    /*background-color: red !important;*/
    padding: 10px 0;
    height: 200px !important;
    object-fit: cover;
    width: 100%;
}

.fixed-height-img-2 figure img {
    /*background-color: red !important;*/
    height: 75px !important;
    object-fit: cover;
    width: 100%;
}

/*.featured-img-fixed-height{
    height: 300px !important;
    border: 1px solid white;
    overflow: hidden;
}*/

/*.featured-img-fixed-height figure img {
    !*background-color: red !important;*!
    height: 300px !important;
    object-fit: fill;
    width: 100%;
}*/

/* [1] The container */
.img-hover-zoom {
    height: 200px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* Point-zoom Container */
.img-hover-zoom--point-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

/* The Transformation */
.img-hover-zoom--point-zoom:hover img {
    transform: scale(5);
}

.img-hover-zoom--point-zoom:hover i {
    color: #FF5E14;
}

.video-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd; /* Gray border */
    padding: 10px; /* Some padding */
}

.recommendation-card {
    margin: 15px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    padding: 6px !important;
}

.recommendation-card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14);
}

.recommendation-card figure {
    height: 200px !important;
    /*background-color: black;*/
    /*padding: 10px;*/
    overflow: hidden;
}

.recommendation-card img {
    height: 100%;
}

.custom-tag {
    /*border-radius: 35px;*/
    line-height: 30px;
    font-size: 14px;
    color: white;
    padding: 4px 10px;
    background-color: #FF5E14;
}

.custom-tag:hover {
    cursor: pointer;
    background-color: black;
}

.search-button i {
    font-size: 18px !important;
    overflow-x: hidden;
}

.searchBody {
    padding: 6px 13px;
    margin: 0 13px;
    background-color: #DDDDDD;
}

.searchBody input, .searchBody button {
    border-radius: 50px;
    height: 45px;
}

.searchBody button:hover {
    background-color: #FF5E14 !important;
}

.custom-card-title {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.overlay-main {
    padding: 0 15px;
}

.overlay-main .card-img-overlay {
    padding: 0 15px;
}

.overlay-main .card-img-overlay p {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 4em;
    font-weight: 600;
}

.custom-news-title a {
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

/*.custom-news-title a:hover {*/
/*    color: #FF5E14;*/
/*}*/

.customActive {
    color: black !important;
    /*padding: 0.8em 1.2em !important;*/
    background: #FF5E14;

}


