@media screen and (max-width: 610px) {
    .upss {
        display: none;
    }

    .footer-info {
        text-align: center;
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media screen and (max-width: 610px) {
    .overLay {
        display: block;
        position: absolute;
        bottom: 0;
        padding-left: 20px !important;
        width: 80% !important;
        background-image: linear-gradient(-90deg, #f4f3f300, black);
        height: 300px !important;
        padding-top: 90px !important;
    }

    .footer-info {
        text-align: center;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .overLay h2 a {
        font-size: 24px !important;
        font-weight: 600;
        line-height: 37px !important;
        color: #ff5e14;
    }

    .frstRow img {
        width: 100%;
        height: 300px !important;
        object-fit: cover;
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media screen and (max-device-width: 62em) {
    .footer-info {
        text-align: center;
    }

    .newsBlock.type-6 {
        padding: 0em;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .newsBlock.type-6 .block-body .row {
        display: block;
    }

    .newsBlock.type-6 .block-body .row .col.eq-highlight {
        max-width: 100%;
        width: 100%;
    }

    .newsBlock.type-6 .block-body .row .col.eq-listing {
        max-width: 100%;
        width: 100%;
    }

    .newsBlock.type-6 .block-body .news-item {
        width: 100%;
        float: left;
        position: relative;
    }

    .newsBlock.type-6 .block-body .news-item .news-image {
        display: block;
        max-height: inherit;
        overflow: visible;
    }

    .newsBlock.type-6 .block-body .news-item .news-image a img,
    .newsBlock.type-6 .block-body .news-item .news-image img {
        height: auto;
        width: 100%;
    }

    .newsBlock.type-9 .block-body .highlightBlock {
        width: 100%;
    }

    .newsBlock.type-9 .block-body .listingBlock {
        width: 100%;
    }

    .news-list-view .news-item .news-image {
        width: 6.875em;
    }

    .news-list-view .news-item .news-content {
        width: calc(100% - 6.875em);
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media screen and (max-device-width: 35.938em) {
    .footer-info {
        text-align: center;
    }

    .news-list-view .news-item .news-image {
        width: 100%;
    }

    .news-list-view .news-item .news-content {
        width: 100%;
        padding-left: 0em;
        padding-top: 0.9375em;
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .footer-card-overlay .card-img-overlay .news-title {
        font-size: 20px;
    }
    .footer-info {
        text-align: center;
    }

    .bl-special {
        display: block !important;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .right-below-header-section .bisheshNew {
        display: none;
    }

    .front_body_position_12 .block-body .card {
        padding: 0 15px !important;
    }

    .overlay-parent {
        position: relative !important;
    }

    .am-content-blam {
        position: absolute !important;
        z-index: 99;
        background: rgba(0, 0, 0, 0.5);
        /*top: 100%!important;*/
        left: 50%;
        bottom: 50% !important;
        width: 10% !important;
        height: 200px;
        text-align: center;
        display: block;
        transform: translate(-50%, -50%);
        margin-top: -85px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        /*padding-top: 1rem !important;*/

    }

    .overlay-parent .am-content-blam p a {
        color: white !important;
        line-height: 1.2em;
        font-size: 1.3em;
        text-align: center;
        font-weight: 600;
    }

    .below-header-section .newsBlock.front_body_position_1 {
        display: none;
    }

    .left-content-position-15 {
        display: block !important;
    }

    .converter {
        height: 100% !important;
        background-color: red !important;
    }

    .footerButtom {
        text-align: center;
    }

    .header-top-ads {
        padding: 0 15px !important;
    }

    .newsBlock.front_body_position_6, .newsBlock.front_body_position_8, .newsBlock.front_body_position_10 {
        padding: 0 !important;
    }

    .front_body_position_6 .card .card-body {
        padding: 0 !important;
    }

    .videoCard {
        padding: 0 15px !important;
    }

    .fixed-height-img-2 figure.news-image img {
        height: auto !important;
    }

    .video-collection .row {
        padding: 0 15px;
    }

    .header-end {
        margin-bottom: 15px;
    }

    .header-mid {
        display: none;
    }

    .select-language-section {
        display: block !important;
    }

    .hiderfixed_navbar12 {
        display: block;
    }

    .news-details .news-story blockquote {
        padding: 20px;
    }

    .news-details .news-story blockquote:before {
        content: '\201C';
        top: 10px;
        left: 50px;
    }

    .news-details .news-story blockquote:after {
        content: '\201D';
        bottom: 10px;
        right: 50px;
    }

    .news-details .news-story blockquote:before, .news-details .news-story blockquote:after {

        line-height: 0.7em;
        font-size: 2.375rem;
        width: 30px;
        height: 30px;
        padding: 10PX 4px;
    }

    .news-details .news-story blockquote p {
        font-size: 1.1rem !important;
        line-height: 1.8rem !important;
        margin-top: 20px;
        margin-bottom: 0;
        padding: 0 10px;
    }

    .newsBlock.type-3 .news-item .news-content .news-title {
        font-size: 1.375rem;
    }

    .bisheshNew .news-image img {
        width: 100% !important;
    }

    .page-body-responsive {
        display: block;
    }

    .page-body-homepage {
        display: inline-block;
    }

    .page-body .container-fluid .row .left-content, .page-body .container-fluid .row .right-content {
        padding: 0 15px !important;
    }

    .headerfixed .hiderfixed_navbar-brand {
        display: block;
        padding-top: 0.6129rem;
    }

    .headerfixed {
        position: fixed !important;
        top: 0 !important;
        z-index: 999;
        background: #F4F4FC;
        transition: 0.06s;
    }

    .button.btn.btn-link {
        border: none;
    }

    button.navbar-toggler {
        margin: 4px;
        position: absolute;
        right: 13px;
        top: 0;
    }

    .headerfixed button.navbar-toggler {
        margin: 4px 4px 4px 80%;
        top: 3px;
        /* bottom: 0px; */
    }

    section.amnavnd {
        border-bottom: 1px solid #D9D9F4;
    }

    .header-top .nav.nav-pills {
        display: none;
    }

    #BL_link .block-body .news-item .news-image {
        height: auto !important;
        width: 5em;
    }

    li.news-contents.amdot {
        width: 100%;
    }

    .page-header {
        margin-bottom: 25px;
    }

    #bl-break-section-01 .news-image {
        width: 6.875em;
        float: left !important;
    }

    .newsBlock .block-body .news-item .news-content {
        padding: 0.9375em 0.9375em;
        /*width: 100% !important;*/
        /*padding-left-content: 0 !important;*/
    }

    .newsBlock.type-8 .news-item .news-image a img, .newsBlock.type-8 .news-item .news-image img {
        width: 70px;
        border-radius: 1px;
    }

    .bicharNew .news-image {
        width: 6.875em !important;
        float: left !important;
    }

    .newsBlock .block-body .news-item .news-image a img, .newsBlock .block-body .news-item .news-image img {
        margin-bottom: 10px;
        /*height: 280px !important;*/
        object-fit: cover;
    }

    .newsBlock.type-2 .news-item .news-image {
        width: 100% !important;
    }

    .newsBlock.type-3 .news-item .news-image {
        width: 100% !important;
    }

    .newsBlock.type-3 .news-item .news-image a img, .newsBlock.type-3 .news-item .news-image img {
        width: 100% !important;
    }

    .newsBlock.type-2 .news-item .news-image a img, .newsBlock.type-2 .news-item .news-image img {
        width: 100% !important;
    }

    .newsBlock.type-3 .news-item {
        width: 100% !important;
    }

    .newsBlock.type-2 .news-item .news-content h4 {
        padding-bottom: 10px;
    }

    .alert-dismissible .close {
        right: 0 !important;
    }

    ul.follow-social-media {
        position: absolute;
        top: -47px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .alert-dismissible {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    .alert-dismissible .close {
        padding: 0.95rem 0.5rem !important;
    }

    .amnavnd .nav.nav-pills {
        display: block;
    }

    .amnavnd .nav-pills-float {
        display: block;
    }

    button.btn.btn-link {
        border-top: none;
        border-bottom: none;
    }

    header.page-header .navbar.primary-nav {
        top: -47px;
        left: 0px;
        right: unset !important;
        position: absolute;
        width: 100%;
        border: none;
    }

    .primary-nav .brand-logo {
        position: absolute;
        left: 16px;
    }

    button.navbar-toggler.navbar-toggler-right {
        margin-left: 10px;
    }

    .primary-nav .brand-logo a img, .primary-nav .brand-logo img {
        max-height: 35px;
        margin-top: 2px;
    }

    .newsBlock.type-5 .news-item.highlight-news .news-image {
        width: 100%;
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 720px) {
    .footer-info {
        text-align: center;
    }

    .newsBlock.recommendation div figure {
        padding: 0 15px;
    }

    .amnavnd .nav.nav-pills {
        margin-right: 73px;
    }

    .headerfixed .hiderfixed_navbar-brand {
        padding-top: 4px;
    }

    .newsBlock.type-2 .news-item .news-content {
        width: 100%;
    }

    .headerfixed button.navbar-toggler {
        top: 0px;
        margin: 7px 5px 8px 80%;
    }

    .page-header .header-mid .brand-logo {
        display: none;
    }

    button.navbar-toggler {
        top: 0;
    }

    .hiderfixed_navbar-brand {
        display: block !important;
        position: absolute;
        left: 8px;
    }

    .hiderfixed_navbar12 {
        top: 4px;
    }

    .newsBlock.type-5 .news-item {
        WIDTH: 100%;
    }

    .social_media_share .fab {
        padding: 5px;
        font-size: 15px;
        width: 33px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 720px) and (min-width: 414px) {
    .css-only-modal {
        width: 100%;
    }

    .page-header .header-top .nav.nav-pills li a.nav-link, .page-header .header-top .nav.nav-pills.nav-item a.nav-link {
        color: #000;
    }

    ul.follow-social-media {
        border-top: none;
        border-bottom: none;
    }

    .hiderfixed_navbar12 {
        display: block;
    }

    .page-header .header-top .base-form .form-control {
        color: #000;
    }

    header.page-header .navbar.primary-nav {
        position: absolute;
        width: 100%;
        left: 0;
    }

    .primary-nav .brand-logo {
        position: absolute;
        left: 16px;
    }


    .footer-info {
        text-align: center;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }



    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 414px) {
    .footer-info {
        text-align: center;
    }

    .css-only-modal {
        width: 100%;
    }

    .header-end-ads {
        display: block;
    }

    #Bl-newsSection {
        margin-top: 0;
        margin-bottom: 175px;
        padding: 0.9375em 0.9375em !important;
    }

    .page-body-responsive .type-8 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .newsBlock.type-5 .news-item .news-content {
        padding: 0.9375em 0;
    }

    .newsBlock.type-3 .news-item .news-content {
        padding: 0.9375em 0;
    }

    .newsBlock.type-6 .news-item .news-content {
        padding: 0.9375em 0;
    }

    .block-body.blspecial-body .news-item .news-content {
        padding: 0 0.9375em;
    }

    .newsBlock.type-3 .news-item .news-content {
        width: 100%;
    }

    .newsBlock.type-2 .block-body .news-item .news-content {
        padding: 0 !important;
    }

    /*.bisheshNew .news-image {width:24% !important;}*/
    .bisheshNew .news-content {
        padding: 0 0.9375em !important;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    .newsBlock.type-5 .news-item.highlight-news .news-content h4 {
        line-height: 1.9em;
    }

    /* .news-content.am-content-blam h4 a {
         font-size: 1.5rem !important;
     }*/
    /* .news-content-overlay {
         text-align: center;
         display: block;
         color: #fff;
         width: 95% !important;
         margin-left: 0;
         !*margin-right: 15px!important;*!
         padding-right: 10px !important;
         height: 90px;
         z-index: 99;
         margin-top: -40px;
     }*/
    .newsBlock.type-5 .news-item.highlight-news .news-content {
        height: 90px;
        z-index: 99;
        margin-top: -40px;
    }

    .newsBlock.above-footer {
        padding: 0 !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .adsssss {
        position: absolute;
        top: -45px;
        right: 11px;
    }

    .float-left .news-details .details-header .post-info span {
        font-size: 14px;
    }

    .at4-count-container .at4-count span {
        font-size: 20px !important;
    }

    .new-details-overlay-image {
        padding: 10px 10px;
    }

    .new-details-overlay-image .news-title {
        font-size: 1.1em;
    }

    .block-body {
        padding-right: 15px;
        padding-left: 15px;
    }

    .vr-block-adsection {
        padding-right: 15px;
        padding-left: 15px;
        background: none;
    }

    .block-body {
        padding: 0;
    }

    .col-sm-12 {
        padding: 0px 2px;
    }

    .page-header .header-top {
        display: none;
    }

    .hiderfixed_navbar12 {
        top: 1px;
    }

    .page-header {
        margin-bottom: 0;
    }

    .hiderfixed_navbar-brand {
        display: block !important;
        position: absolute;
        left: 8px;
        top: 12px;
        z-index: 99999;
    }

    .headerfixed button.navbar-toggler {
        top: -9px !important;
    }

    .page-body-responsive {
        margin: 1em 0em !important;
    }

    button.navbar-toggler {
        top: 8px !important;
    }

    .page-body {
        padding: 0em 0em !important;
    }

    .breakNew .news-image {
        width: 5.875em !important;
    }

    .trendingNew .news-image {
        width: 5.875em !important;
    }

    .cmn-section .float-left .news-details .details-header .news-title {
        font-size: 1.75rem !important;
    }

    .bisheshNew .news-image img {
        width: 5em !important;
    }

    .newsBlock .block-body .news-item .news-content {
        /*float: right-content !important;*/
        /*width: 100% !important;*/
        /*padding-left-content: 8px !important;*/
    }

    .page-header .header-mid .brand-logo a img, .page-header .header-mid .brand-logo img {
        margin-bottom: 5px;
    }

    .page-header .header-mid .brand-logo {
        max-width: 3.6em !important;
        z-index: 9999;
        /*top: -39px !important;*/
        display: none;

    }

    button.navbar-toggler {
        padding: 4px 13px;
        position: absolute;
        right: 10px;
        margin-top: -14px;

    }

    .newsBlock .block-body .news-item .news-image {
        float: left !important;
    }

    button.btn.btn-link {
        border: none;
        float: unset !important;
    }

    ul.follow-social-media {
        position: absolute;
        top: -35px !important;
        right: 0;
        border-top: none !important;
        border-bottom: none !important;
    }

    .follow-social-media li {
        float: unset !important;
        display: inline;
    }

    .amnavnd .nav.nav-pills {
        float: left;
        margin-left: 27%;
    }

    .newsBlock .block-body .news-item .new-type-1 {
        float: right !important;
        width: calc(100% - 5em) !important;
        padding-left: 0.9375em !important;
    }

    .new-title-type001 {
        /*padding-top: 18rem;*/
    }

    .sport-row {
        /*padding-right-content: 15px !important;*/
        /*padding-left-content: 15px !important;*/
    }

    .news-content-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .newsBlock.type-8 {
        /*padding-left-content: 15px !important;*/
        /*padding-right-content: 15px !important;*/
    }

    .block-body.blspecial-body.bisheshNew {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .ggl_adBlk._300x600 {
        /*padding-left: 15px !important;*/
        /*padding-right: 15px !important;*/
    }

    .highlight-news .news-content {
        width: 100% !important;
    }

    .header-mid {
        /*margin-top: 10%;*/
    }

    .page-header .header-mid {
        /*margin-top: 10%;*/
    }

    .ggl_adBlk._300x250 {
        width: 100% !important;
    }

    .newsBlock.type-2 .news-item.highlight-news .news-content {
        padding: 0 !important;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 411px) {
    .footer-info {
        text-align: center;
    }

    .amadam {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .header-end-ads {
        display: block;
    }

    .css-only-modal {
        width: 100%;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .amnavnd .nav.nav-pills {
        margin-right: 73px;
    }

    .page-header .header-mid .brand-logo {
        max-width: 4.3em !important;
        z-index: 9999;
        /*top: -41px !important;*/
    }

    .headerfixed button.navbar-toggler {
        top: -8px !important;
    }

    button.navbar-toggler {
        top: 10px !important;
    }

    .hiderfixed_navbar12 {
        display: block !important;
    }

    .hiderfixed_navbar-brand {
        display: block !important;
        position: absolute;
        left: 8px;
    }

    ul.follow-social-media {
        display: flex !important;
        top: -34px !important;
        justify-content: center;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 300px) {
    .footer-info {
        text-align: center;
    }

    .amadam {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .css-only-modal {
        width: 100%;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .page-header .header-mid .brand-logo {
        max-width: 3.6em !important;
        z-index: 9999;
        top: -42px !important;
    }

    button.navbar-toggler {
        padding: 4px 13px;
        margin-left: 80%;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .amadam {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .footer-info {
        text-align: center;
    }

    .css-only-modal {
        width: 100%;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .headerfixed button.navbar-toggler {
        top: -17px;
    }

    .page-header .header-mid .brand-logo {
        max-width: 4.3em !important;
        z-index: 9999;
        top: -20px !important;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 360px) {
    .amadam {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .header-end-ads {
        display: block;
    }

    .footer-info {
        text-align: center;
    }

    .css-only-modal {
        width: 100%;
    }

    .footer-info {
        text-align: center;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .page-header .header-top .nav.nav-pills li a.nav-link, .page-header .header-top .nav.nav-pills.nav-item a.nav-link {
        padding: 0.375em 0.1rem;
    }

    .header-top .nav.nav-pills {
        display: -moz-inline-box;
    }

    .header-top .float-right {
        padding: 0;
    }

    .page-header .header-mid .brand-logo {
        max-width: 4.3em !important;
        z-index: 9999;
        top: -31px !important;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 350px) {
    .amadam {
        position: relative;
        top: 0px;
        right: 0px;
    }

    .footer-info {
        text-align: center;
    }

    .css-only-modal {
        width: 100%;
    }

    .bannerImg iframe {
        width: 100% !important;
        height: 220px !important;
    }

    figure.news-image.amsportkhel {
        height: 210px !important;
    }

    .page-header .header-mid .brand-logo {
        max-width: 4.3em !important;
        z-index: 9999;
        top: -30px !important;
    }

    .header-end-ads {
        display: block;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 414px) {
    #language_section {
        display: block;
        position: absolute;
        top: 59px;
        right: 0;
        z-index: 999999;
        width: 100%;
    }

    #language_section .navbar-collapse {
        background: #f4f4fc;
        width: 100%;
        z-index: 9999;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    #language_section .navbar-collapse .navbar-nav .nav-item .am-bl-topscroll {
        color: #000 !important;
        margin-left: 18px;
    }

    .corona-stats {
        width: 33% !important;
        float: left !important;
    }

    .small-data-title, .big-data-title {
        font-size: 17px !important;
    }

    .corona-num.col-sm-2.corona-last-row {
        width: 33%;
    }

    .corona-box.corona-template {
        margin-left: 0px;
        text-align: center;
        margin-top: 16px;
    }

    span.small-data-title {
        margin-left: 20px;
    }

    span.big-data-title {
        margin-left: 20px;
    }

    .corona-box .corona-title a .main-title {
        margin-left: 98px;
    }

    img.corona-logo {
        display: none;
    }

    span.small-data-title.more-link.corona-more {
        padding: 0px;
    }

    .header-end-ads {
        display: block;
    }

    .header-top {
        display: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }

}

@media only screen and (max-width: 400px) {
    #language_section {
        top: 56px;
    }

    .header-end-ads {
        display: block;
    }

    .corona-stats {
        width: 33% !important;
        float: left !important;
    }

    .small-data-title, .big-data-title {
        font-size: 17px !important;
    }

    .corona-num.col-sm-2.corona-last-row {
        width: 33%;
    }

    .header-end-ads {
        display: block;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 370px) {
    #language_section {
        top: 53px;
    }

    .corona-stats {
        width: 33% !important;
        float: left !important;
    }

    .small-data-title, .big-data-title {
        font-size: 17px !important;
    }

    .corona-num.col-sm-2.corona-last-row {
        width: 33%;
    }

    .header-end-ads {
        display: block;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 360px) {
    #language_section {
        top: 52px;
    }

    .header-end-ads {
        display: block;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 340px) {
    #language_section {
        top: 50px;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .header-end-ads {
        display: block;
    }

    .footer-info {
        text-align: center;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}


@media only screen and (max-width: 320px) {
    #language_section {
        top: 48px;
    }

    .header-end-ads {
        display: block;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .footer-info {
        text-align: center;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .small-data-title, .big-data-title {
        font-size: 17px !important;
    }

    .overlay-title {
        font-size: 24px !important;
        font-weight: 600;
        text-align: center;
        color: black;
    }

    .corona-stats {
        width: 33% !important;
        float: left !important;
    }

    .header-end-ads {
        display: block;
    }

    .small-data-title, .big-data-title {
        font-size: 17px !important;
    }

    .footer-info {
        text-align: center;
    }

    .corona-num.col-sm-2.corona-last-row {
        width: 33%;
    }

    .corona-box.corona-template {
        margin-left: 0px;
        margin-top: 16px;
        text-align: center;
    }

    span.small-data-title {
        margin-left: 20px;
    }

    span.big-data-title {
        margin-left: 20px;
    }

    .corona-box .corona-title a .main-title {
        margin-left: 98px;
    }

    img.corona-logo {
        display: none;
    }

    span.small-data-title.more-link.corona-more {
        padding: 0px;
    }

    .header-top {
        display: none;
    }

    .social_media_share .fab {
        padding: 7px;
        font-size: 18px;
        width: 37px;
        text-align: center;
        text-decoration: none;
    }

    .social_media_share {
        align-items: center;
        display: flex;
        line-height: 1.4;
        margin: auto;
        padding: 5px;
        /* margin-right: 20px; */
    }

    .share-count .share-count-total {
        font-size: 25px;
        line-height: 17px;
        display: block;
        padding: 0;
    }

    [data-network="instagram"] {
        display: none;
    }

    .media-icon {
        display: flex;
        margin-right: 10px;
    }

    .photoFeature-title {
        font-size: 20px;
        color: #ff7206;
        margin-bottom: 10px;
        line-height: 30px;
    }


}
